# ignorer les fichiers .pyc
*.pyc

# ignorer le répertoire .venv
*.venv/

# ignorer tout le répertoire data
*.data/

# ignorer le répertoire de pytest
*.pytest_cache/

# ignorer les anciens dossiers de développement
*.extract
*.load
*.modeling
*.transform
*.test_API
